:root {
    --primary-brand : #4D5AE5;
    --pressed-state: #404BBF;
    --dark-text-color: #2E2F42;
    --light-text-color: white;
    --regular-text-color: #434455;
    --subtle-text-color: #8E8F99;
    --accent-color: #E7E9FC;
    --light-mode-color: #F4F4FD;
    --overlay-color: rgba(46, 47, 66, 0.4);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
    display: block;
  }

body {
    color: #434455;
    background-color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
}

button {
    cursor: pointer;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.container {
    display: flex;
    padding: 0 156px;
    max-width: 1440px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

/*  ----------- HEADER -----------*/

.header {
    border-bottom: 1px solid #e7e9fc
}

.header-container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;

    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center
}

.header-nav-list {
    display: flex;
    gap: 40px;
}

.header-nav-item, .header-address-list {
    padding: 24px 0
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;

    color: #4D5AE5;

    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}


.header-logo-accent {
    color: #2E2F42;
}

.header-nav-link {
    color: #2e2f42;

    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em; 
}

.header-nav-link:hover, .header-nav-link:focus {
    color: #404bbf;
}

.header-address {
    font-style: normal;
}

.header-address-list {
    display: flex;
    gap: 40px;
    
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
}

.header-address-link {
    color: var(--regular-text-color);
}

.header-address-link:hover, .header-address-link:focus {
    color: #404bbf;
}

/*  ----------- MAIN -----------*/

/* --- Hero --- */
.hero-section .container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 48px;
    padding-top: 188px;
    padding-bottom: 188px;

    background-color: #2e2f42 ;
}

.hero-section-headline {
    max-width: 496px;
    margin: 0 auto;

    color: var(--light-text-color);

    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07; /* 107.143% */
    letter-spacing: 0.02em;
}

.hero-section-button {
    display: block;
    margin: 0 auto;
    padding: 16px 32px;

    color: var(--light-text-color);
    background-color: var(--primary-brand);

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.04em;
}

.hero-section-button:hover, .hero-section-button:focus {
    background-color: #404BBF;
}

/* --- Our strategies --- */

.strategies-list {
    display: flex;
    gap: 24px;
    padding-top: 120px;
    padding-bottom: 120px;
}
.strategies-headline {
    color: var( --dark-text-color);

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
}

.strategies-text {
    color: var(--regular-text-color);
        
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
}

/* --- Our team --- */

.team {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    padding-bottom: 120px;

    background-color: var(--light-mode-color);
}

.team-headline {
    margin-bottom: 72px;

    color: var(--dark-text-color);

    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11; /* 111.111% */
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.team-list {
    display: flex;
    gap: 24px;
}

.team-item {
    display: flex;
    flex-direction: column;

    background-color: #FFFFFF
}

.team-img {
    margin-bottom: 32px;
}

.team-list-headline {
    margin-bottom: 8px;

    color: var(--dark-text-color);

    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
}

.team-list-text {
    margin: 0 auto 32px;

    color: var(--regular-text-color);

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
}
/* --- Our Portfolio --- */

.portfolio {
    display: flex;
    flex-direction: column;
    padding-top: 120px;
    padding-bottom: 120px;
}

.portfolio-headline {
    margin: 0 auto 72px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px 24px;
}

.portfolio-item {
    max-width: 360px;
    box-sizing: border-box;
    border: 1px solid #E7E9FC;
}

.portfolio-list-headline {
    margin-top: 32px;
    margin-bottom: 8px;
    text-align: center;

    color: var(--dark-text-color);

    font-size: 20px;
    font-weight: 500;
    line-height: 1.2; /* 120% */
    letter-spacing: 0.02em;
}

.portfolio-list-text {
    margin-bottom: 32px;
    text-align: center;

    color: var(--regular-text-color);

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
}

/* --- FOOTER --- */

.footer {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 100px;

    background-color: var(--dark-text-color);
}

.footer-logo {
    margin-bottom: 17.5px;

    color: #4d5ae5;

    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; /* 116.667% */
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-logo-accent {
    color: #f4f4fd;
}

.footer-text {
max-width: 264px;

    color: var(--light-mode-color);

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5; /* 150% */
    letter-spacing: 0.02em;
}